<div class = 'site-title' style="font-size: 50px;" >
        <a href = "/">Blogs Site</a>
    </div>

    <ul>
        <li><a href = "/">Blogs</a></li>
        <li><a href = "/about">About</a></li>
        <li><a href = "/blogs/create">New blog</a></li>        
    </ul>
    <hr>